:root {
  --primary: black;
  --secondary: red;
  --gray: hsl(217, 11%, 64%);
  --white: white;
  --off-white: hsl(216, 100%, 95%);
}

html, body {
  margin: 0;
  padding: 0;
}


  /* HEADER */

.header {
  background-color: var(--primary);
  color: var(--white)
}

.nav {
  display: grid;
  grid-template-columns: 1fr 4fr;
}

.nav_list {
  display: flex; 
  justify-content: flex-end;
}

.nav_list_item {
  margin-left: 20px;
  margin-right: 20px;
  list-style-type: none;
}

.nav_list_item_a {
  color: white;
  text-decoration: none;
  padding: 15px;
}

.nav_list_item_a:hover {
  background-color: var(--white);
  color: var(--primary);
}

/* BODY */

.body {
  display: grid;
  grid-template-rows: 3rem 4fr 2rem;
  max-width: 100vw;
}

.main_h1 {
  padding: 20px;
  background-color: var(--secondary);
  color: var(--off-white)
}

.main_article {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* align-content: left; */
  /* align-items: center; */
}

.season_container {
  margin: 1rem;
  padding: 1rem;
  border: 1px solid var(--gray);
  border-radius: 5px;
}

/* MEDIA QUERIES */
@media screen and (max-width: 780px) {
  .nav {
    grid-template-columns: none;
    /* grid-template-rows: 3rem 8rem; */
  }
  .nav_list {
    flex-direction: column;
    align-items: center;
    padding: 0;
  }
  .nav_list_item {
    margin-top: 5px;
    margin-bottom: 5px;
    list-style-type: none;
  }
  .nav_list_item_a:hover {
    background-color: transparent;
    color: var(--white);
  }
  .body {
    grid-template-rows: 12rem 1fr 2rem;
  }
}