:root {
    --primary: black (0, 0, 0);
    --secondary: red (255, 0, 0);
    --gray: hsl(217, 11%, 64%);
    --white: hsl(216, 100%, 95%);
  }

  .header {
    grid-area: header;
    background-color: var(--primary);
    color: var(--white);
    display: grid;
    align-items: center;
    justify-items: center;
  }
  body {
    font-family: 'Anek Bangla', cursive;
    font-size: 1.2rem;
    margin: 0;
    box-sizing: border-box;
    min-height: 100vh;
    display: grid;
    grid-template-areas: 
    'header header'
    'nav    main'
    'footer footer';
    justify-content: center;
    grid-gap: 20px;
    row-gap: 20px;
    grid-template-columns: 200px 200px 200px 200px;
    grid-template-rows: 100px 1fr 100px ;
  }

  .h1__title {
    font-family: 'Rubik Wet Paint', cursive;
    font-size: 1.2rem;
    margin: 0;
    box-sizing: border-box;
    min-height: 100vh;
    display: grid;
  }