:root {
    --primary: black (0, 0, 0);
    --secondary: red (255, 0, 0);
    --gray: hsl(217, 11%, 64%);
    --white: hsl(216, 100%, 95%);
  }

  .header {
    grid-area: header;
    background-color: var(--secondary);
    display: grid;
    align-items: center;
    justify-items: center;
  }

 